<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- development version, includes helpful console warnings -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <!-- production version, optimized for size and speed -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>cimrman gify</title>
    </head>

    <body>

        <div id="app">

            <nav class="navbar navbar-dark bg-dark">
            <!-- <div class="row"> -->
                <div class="col text-left">
                    <input v-model="query" v-focus placeholder="začněte psát (např. „Svěrák ^jak“)" class="w-100" aria-describedby="queryHelp">
                    <small id="queryHelp" class="form-text text-muted">ve formuláři jsou podporovány výrazy (regexy) oddělené mezerou<br>kliknutím na obrázek pak zkopírujete odkaz na gif</small>

                </div>
                <div class="col text-middle"></div>
                <div class="col text-right"><a href="https://github.com/MikulasZelinka/cimrman_gifs"><i class="fa fa-github" aria-hidden="true"></i></a></div>
            <!-- </div> -->
            </nav>

            <div id="gifs" class="container-fluid d-flex flex-wrap">
                <!-- accent removal src: https://stackoverflow.com/a/37511463/8971202 -->
                <div v-for="gif in gifs" v-if="matches_query(gif.keywords)">
                    <!-- <img v-bind:src="gifs[0].images.preview_gif.url" v-on:click="copy(gif)" class="card-img-top"> -->
                    <img v-bind:src="gif.preview_url" v-on:click="copy(gif)" class="card-img-top" v-bind:title="gif.keywords" v-bind:alt="gif.keywords" loading="lazy">
                    <!-- <video autoplay loop muted playsinline v-on:click="copy(gif)" class="card-img-top">
                        <source :src="gif.images.preview.url" type="video/mp4">
                    </video> -->

                    <!-- <div class="card-body" style="flex-grow: 1; width: 0"> -->
                        <!-- <p class="card-text text-center"> -->
                            <!-- <span v-for="keyword in gif.keywords" class="badge badge-secondary">{{ keyword }}</span> -->
                        <!-- </p> -->
                    <!-- </div> -->
                </div>
            </div>

        </div>

        <script src="index.js"></script>
    </body>
</html>