<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    </head>

    <body>

        <div id="app">
            <input v-model="query">
            <ol>
                <li v-for="gif in gifs" v-if="gif.keywords.some(x => x.includes(query))">
                    {{ gif.keywords }}
                    <img v-bind:src="gif.images.original.url"/>
                </li>
            </ol>
        </div>

        <script src="index.js"></script>
    </body>
</html>